<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML | Table</title>

    <style>
        .table_head, td {
            border: 2px solid black;
            padding: 5px;
        }
        
        .table_col {
            border: 2px solid black;
            padding: 5px;
        }

        table {
            border-spacing: 15px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th class="table_head">User</th>
            <th class="table_head">LastName</th>
            <th class="table_head">Firstname</th>
            <th class="table_head">Full name</th>
        </tr>


        <tbody>
            {% for i in range(user|length) %}
            <tr>
                <td class="table_col">{{i+1}}</td>
                <td class="table_col">{{user[i]['first_name']}}</td>
                <td class="table_col">{{user[i]['last_name']}}</td>
                <td class="table_col"> {{user[i]['first_name']}} {{user[i]['last_name']}}</td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</body>
</html>