<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Create</title>
</head>

<body>
    <div action="/users" class="p-3 col-4 mx-auto my-5 bg-dark text-light">
        <h1>All Users</h1>
        {% for user in users %}
            <p>ID: {{user.id}}</p>
            <p>First Name: {{user.first_name}}</p>
            <p>Last Name: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Created_at: {{user.created_at}}</p>
            <p>Updated_at: {{user.updated_at}}</p>
        {% endfor %}
        <a href="/">Home</a>
    </div>
</body>

</html>