<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>

    <style>
        .count_center{
            text-align: center;
        }
        .button {
            display: flex;
            justify-content: center;
            padding: 20px;
            gap: 50px;
        }
        .btn_reset{
            background-color: blue;
            padding: 10px;
            color: white;
        }
        .btn_click{
            background-color: red;
            padding: 10px 15px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="count_center">
        <h1>Counter</h1>
        <p>{{ visit_count }}</p>
    </div>
    <div class="button">
        <form action="{{ url_for('increment') }}" method="post">
            <input type="hidden" id="custom_increment" name="click_by" value="1">
            <button class="btn_click" type="submit">Click</button>
        </form>
        <a href="{{ url_for('destroy_session') }}"><button class="btn_reset" type="submit">Reset</button></a>
    </div>

</body>
</html>