<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play_num</title>
        <style>
            .box {
                width: 100px;
                height: 100px;
                background-color: blue;
                margin: 10px;
                display: inline-block;
            }
        </style>
    </head>

    <body>
        <h1>Welcome!</h1>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

    {% for x in range(num) %}
    <div class="box"></div>
    {% endfor %}

    </body>

</html>